.btn {
  background-color: $bg-2;
}

.btns-links {
  //background-color: red;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}

.btn-link{
     display: flex;
     justify-content: center;
     align-items: center;
}
