.card-web {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: $bg-2;
  border-radius: 10px;
  max-width: 330px;
  width: 100%;
  max-height: 450px;
  padding: 20px;
  //border: thin solid yellow;

  img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }

  @media screen and (max-width: 767px) {
    gap: 10px;
  }
}

.title-card {
  font-family: $inter;
  font-weight: bold;
  font-size: 18px;
  color: $secondary;

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

.description {
  font-family: $inter;
  font-size: 16px;
  text-align: center;
  color: $text-1;

  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.btn-ver-mas {
  max-width: 100px;
  background-color: $bg-2;
  border: thin solid $secondary;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;

  a {
    font-family: $inter;
    font-weight: bold;
    font-size: 18px;
    color: $text-1;
  }

  &:hover {
    background-color: $secondary;
  }

  @media screen and (max-width: 767px) {
    padding: 5px;

    a {
      font-size: 14px;
    }
  }
}
