@import "./variables";

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.is-open {
  display: flex;
}

.modal-container {
  position: relative;
  padding: 1rem;
  min-width: 300px;
  max-width: 900px;
  min-height: 300px;
  max-height: 800px;
  overflow-y: auto;
  background-color: $bg-2;
  color: $text-1;
  //border-radius: 5px;

  button {
    border-radius: 5px;
    border: thin solid $secondary;
    font-size: 16px;
    padding: 4px;
    line-height: 1;
    background-color: $bg-2;
    color: $text-1;
    cursor: pointer;

    &:hover {
      background-color: $secondary;
    }
  }
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.web-project {
  display: flex;
  gap: 10px;
  //border: thin solid red;

  .Carousles-webP {
    display: inherit;
    justify-content: center;
    align-items: center;
    // border: thin solid red;
    // padding: 0;

    img {
      border-radius: 0;
      height: 100%;
      width: auto;
      transition: all 0.3s ease-in-out;
      object-fit: contain;

      &:hover {
        transform: scale(1.2);
        overflow-y: auto;
      }
    }
  }
  h3 {
    color: $secondary;
    padding-bottom: 5px;
  }

  p {
    padding-bottom: 5px;
    font-size: 16px;
  }

  a {
    color: $secondary;
    font-style: italic;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: lightseagreen;
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 2px;

    p {
      font-size: 14px;
    }
  }
}
