/*Colores*/
$bg: #0f0f0f;
$primary: #00ff88;
$secondary: #00cc66;
$bg-2: #262626;
$text-1: #ffffff;
$white: #ffffff;

/*Fuentes*/
$inter: "Inter", sans-serif;
$space-g: "Space Grotesk", sans-serif;

h1 {
  font-family: $space-g;
  font-size: 38px;
  font-weight: bold;
  color: $primary;

  @media screen and (max-width: 767px) {
    font-size: 20px !important;
    text-align: center;
  }
}

h2 {
  font-family: $space-g;
  font-size: 28px;
  font-weight: bold;
  color: $secondary;
  text-align: center;
  @media screen and (max-width: 767px) {
    font-size: 18px !important;
  }
}
