.particles-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none; /*opcional para que no bloquee clics*/
}

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}
